<style>
    .abstract {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
        font-size: 10pt; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        line-height: 12pt;
    }
    .abstract_i {
            font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
            font-size: 10pt; 
            font-style: italic; 
            font-variant: normal; 
            font-weight: bold; 
            line-height: 12pt;
    }
</style>

<div class='abstract'>
    <span class='abstract_i'>Abstract &mdash;</span> {{ .Inner }} 
</div>
