<style>
    .index_terms {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
        font-size: 10pt; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        line-height: 12pt;
    }
    .index_terms_i {
            font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
            font-size: 10pt; 
            font-style: italic; 
            font-variant: normal; 
            font-weight: bold; 
            line-height: 12pt;
    }
</style>

<div class='index_terms'>
    <span class='index_terms_i'>Index Terms &mdash;</span> {{ .Inner }} 
</div>
